@import "normalize.css/normalize.css";
@import "intro.js/introjs.css";

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 1em;
}

.container {
  width: 820px;
}

h1 {
  margin-top: 0;
}

input[type=email] {
  width: 250px; 
}

.problem {
  display: flex;
  $gap: 1em;
  gap: $gap;
  flex-wrap: wrap;

  > div {
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #ccc;
    width: calc(50% - $gap);
  }

  textarea {
    width: 100%;
    min-height: 4em;
  }

  h2 {
    margin: 0;
  }

  .editor {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .runnable-editor .output {
    margin-block-end: 1em;
  }
}

.loader-spinner {
  width: 30px;
  height: 30px;

  circle {
    fill: #aaa;
    stroke: #eee;
  }
}

pre {
  border: 1px solid #ccc;
  padding: 1em;
  overflow-x: auto;

  &.error {
    color: #b40000;
  }
}

.introjs-tooltip-header {
  display: none;  
}

.introjs-tooltipReferenceLayer code {
  font-family: Inconsolata, monospace;
}
