@import "normalize.css/normalize.css";

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 1em;
}

.container {
  width: 800px;
}

h1 {
  margin-top: 0;
}

video {
  border: 2px solid #ccc;
}

.audio-visualizer {
  height: 16px;
  border: 1px solid #ccc;
  width: 500px;

  .bar {
    background-color: green;
    height: 100%;
  }
}

.problem {
  display: flex;
  gap: 1em;

  .instructions {
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h2 {
      margin-bottom: 0;
    }
  }

  .scratchpad {
    flex: 1;
    box-sizing: border-box;

    .editor {
      border: 1px solid #ccc;
    }
  }
}

.loader-spinner {
  width: 30px;
  height: 30px;

  circle {
    fill: #aaa;
    stroke: #eee;
  }
}

.evaluator {
  margin-top: 1em;

  button {
    margin-bottom: 1em;
  }

  pre {
    border: 1px solid #ccc;
    padding: 1em;

    &.error {
      color: #b40000;
    }
  }
}
