@import "normalize.css/normalize.css";

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

video {
  border: 2px solid #ccc;
}

.audio-visualizer {
  height: 16px;
  border: 1px solid #ccc;
  width: 500px;

  .bar {
    background-color: green;
    height: 100%;
  }
}
